@import url('https://fonts.googleapis.com/css?family=Kavivanar');

h1 {
  font-family: 'Kavivanar', cursive;
  color: #b5cde1;
  font-size: 4rem;
  text-align: center;
}

.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.count {
  background: #e5ad4f;
  font-family: 'Kavivanar', cursive;
  font-size: 10rem;
  width: 25%;
  padding: 0 1vw 0 1vw;
  color: #bd5630;
  margin-bottom: 50px;
  margin-top: 50px;
}

button {
  font-family: 'Kavivanar', cursive;
  background: #121510;
  color: #d6cfb7;
  height: 10%;
  margin: 0 3% 0 3%;
  width: 10vw;
  height: 5vh;
}

.sub-wrapper {
  text-align: center;
}
